<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clear Trip Automation Test Suite">

	


	<test name="Test Cases">
		<classes>
					
			
			<class name="com.vagarant.test.tests.HotelBookingTest"></class>
			<!--  <class name="com.vagarant.test.tests.FlightBookingTest"></class>
			<class name="com.vagarant.test.tests.SignInTest"></class> -->
			

		</classes>
	</test>
</suite>